@page "/family/{familyId}/add"
@using global::Models
@using h1.Data
@using h1.Data.Impl
@using h1.Models
@inject NavigationManager NavigationManager
@inject IFamilyService FamilyServiceImpl
<h3>AdultAdd</h3>

<EditForm Model="@familyId">
First name <InputText  @bind-Value="firstName"/>
<br/><br/>
Last name <InputText  @bind-Value="lastName"/>
<br/><br/>
Hair color <InputText  @bind-Value="hairColor"/>
<br/><br/>
Eye color<InputText  @bind-Value="eyeColor"/>
<br/><br/>

Gender <InputSelect @bind-Value="sex">
    <option value="male">male</option>
    <option value="female">female</option>
</InputSelect>
<br/><br/>
Age <InputNumber @bind-Value="age"/>
<br/><br/>
Height <InputNumber @bind-Value="height"/>
<br/><br/>
Wight <InputNumber @bind-Value="weight"/>
<br/><br/>
Job <InputSelect @bind-Value="job">
    @foreach (Enum item in Enum.GetValues(typeof(JobTitles)))
    {
        <option value="@item">@item.ToString()</option>
    }
</InputSelect>
<br/><br/>
<button @onclick="addAdult">Add</button>

</EditForm>



@code {
    [Parameter]
    public string familyId { get; set; }

    private string firstName;
    private string lastName;
    private string hairColor;
    private string eyeColor;
    private string sex;
    private float weight;
    private int age;
    private int height;
    private string job;

    private Family myFamily;

    protected override async Task OnInitializedAsync()
    {
        myFamily = FamilyServiceImpl.GetFamilyById(familyId);
    }

    public async Task addAdult()
    {
        myFamily.Adults.Add(new Adult()
        {
            FirstName = firstName,
            LastName = lastName,
            HairColor = hairColor,
            EyeColor = eyeColor,
            Sex = sex,
            Weight = weight,
            Age = age,
            Height = height,
            JobTitle = job
        });
        FamilyServiceImpl.SaveData();
        NavigationManager.NavigateTo($"family/{familyId}/edit");
    }
    
}