@page "/family/{familyId}/adult/{adultId}/delete"
@using h1.Data
@using global::Models
@inject NavigationManager NavigationManager
@inject IFamilyService FamilyServiceImpl
<h3>AdultDelete</h3>

<h3>Family Delete</h3>

Are you sure you want to delete the adult with id @adultId?

<button @onclick='DeleteAdult'>Yes</button>
<button @onclick='Cancel'>No</button>

@code {
    [Parameter]
    public string familyId { get; set; }

    [Parameter]
    public string adultId { get; set; }

    public async Task DeleteAdult()
    {
        FamilyServiceImpl.GetFamilyById(familyId).RemoveAdult(adultId);
        FamilyServiceImpl.SaveData();
        NavigationManager.NavigateTo($"family/{familyId}/edit");
    }

    public async Task Cancel()
    {
        NavigationManager.NavigateTo($"family/{familyId}/edit");
    }
    
}