@page "/family/{family_id}/delete/"
@using h1.Data
@inject NavigationManager NavigationManager
@inject IFamilyService FamilyServiceImpl

<h3>Family Delete</h3>

Are you sure you want to delete the family with id @family_id?

<button @onclick='DeleteFamily'>Yes</button>
<button @onclick='Cancel'>No</button>

@code {
    [Parameter]
    public string family_id { get; set; }

    public async Task DeleteFamily()
    {
        FamilyServiceImpl.RemoveFamily(Int32.Parse(family_id));
        NavigationManager.NavigateTo("FamilyView");
    }

    public async Task Cancel()
    {
        NavigationManager.NavigateTo("FamilyView");
    }
}