@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <p>Hi, @context.User.FindFirst(claim => claim.Type.Equals("FirstName"))!</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not signed!</p>
    </NotAuthorized>
</AuthorizeView>

<SurveyPrompt Title="How is Blazor working for you?" />